
<div >
    Hello World!!
    <select ng-model="newOption" ng-options="key as key for (key,value) in acessorFns['Node']|functionFilter:'number'" ng-change="updateRange()">
    </select>
    <div ng-show="newOption">
       <select ng-model="newOperator" ng-init="newOperator = operators[4]" ng-options="o for o in operators">
    </select>
        <input ng-model="thresVal" ng-change="valChanged()" type="range" min="{{rangeMin}}"  max="{{rangeMax}}" value="rangeMax"><span >{{thresVal}}</span>
    </div>
    <button  ng-class="{'btn btn-sm btn-success':!(newOption&&newOperator), 'btn btn-sm btn-success': (newOption&&newOperator)}" ng-disabled="!(newOption&&newOperator)" ng-click="addFilter()"><span class="glyphicon glyphicon-plus-sign"></span></button>
    
    <div  ng-repeat="filter in filters" >
        <input type="checkbox" ng-change ="applyFilter()" ng-model="filter.apply">
          <span class="apply-{{filter.apply}}">{{filter.name}} {{filter.operator}} {{filter.threshold}}</span>
    </div>
 
</div>
