
<div class="container">
    <div >
        <div ng-click="setActive()" ng-class="{'viewWindow panel panel-info': (index == activeindex), 'viewWindow panel panel-default': (index != activeindex)}">
            <div class="panel-heading" style="padding: 2px;">  
                <div class="panel-title ">
                    <div class="btn-group" style="width:100%;">
                        <div class="pull-left">
                            <div class="text-primary"> {{heading}}</div>
                        </div>
                        <div class="btn-sm btn-sm-nopad pull-right" style="width: 25px;">
                            <a href="#" ng-click="removeView()" class="col-xs-2 pull-right glyphicon glyphicon-remove" ></a>
                        </div>
                        
                        <div class="btn-sm btn-sm-nopad pull-right" style="width: 25px;">
                            <a href="#" class="col-xs-2 pull-right dropdown-toggle glyphicon glyphicon-cog" ></a>
                            <ul class="dropdown-menu">                                   
                                <li>
                                    <a href="#" ng-click="cloneView()">Clone View</a>
                                </li>
<!--                                 <li>
                                    <a href="#" ng-click="saveView()">Save View</a>
                                </li>-->
                        
                            </ul>
                        </div>
                       <div class="btn-sm btn-sm-nopad pull-right" style="width: 25px;">
                           <a href="#" ng-click="exportView()" class="col-xs-2 pull-right dropdown-toggle glyphicon glyphicon-picture" ></a>
                            <ul id="dropdown{{index}}" class="dropdown-menu">                                   
                               
                                <form>
                                 <h6>Export as Image</h6>
                                <h6>Filename:</h6> 
                                <input type="text" ng-model="filename">
                              
                                <a href="{{imageData}}" ng-hide="!filename" style="color: #FFFFFF;background: #428bca;border-radius: 2;padding: 5;" download="{{filename}}.png" >Save</a>                               
                                
                                </form>
                            </ul>
                        </div>
                        
                    </div>
                </div>  
            </div>


            <div class="panel-body" style="padding: 1px;">
                <div id="graphNumber{{index}}"></div>
            </div>
        </div>
        <!--/row-->
    </div>
    <div ng-show="index == activeindex" class="sidebar-offcanvas" role="navigation">
        <div class="well sidebar-nav" >

            <div class="well">
                <a>Algorithms</a>
                <select ng-model=selectedAlgo  ng-init="selectedAlgo = algorithmList[0]" ng-options="name for name in algorithmList">
                </select>
                <button ng-click="runAlgo(selectedAlgo)" class="btn-sm btn-info">Run</button>
                <alert  style="padding-bottom: 2px;padding-top: 2px;padding-left: 2px;padding-right: 15px; margin-bottom: 0px;"ng-show="alertShow" type="alertType" close="alertClose(a)">{{alertText}}</alert>
<!--                <input type="text" ng-model ="debugindex">-->
<!--                <button ng-click="highlightNode(debugindex)" class="btn-sm btn-info">Highlight Node</button>   -->
            </div>
             <tabset justified="true">
             <tab heading="Properties">
                 <div compile="controls"></div>
<!--                 <div ng-repeat="obj in myData">
                     <div ng-switch on="obj.controltype">
                         <div ng-switch-when="range">
                             <input type='range' min='{{obj.options.min }}' max='{{obj.options.max}}'  ng-init="setNumber('{{obj.func}}','{{obj.options.default}}') ;{{obj.name}}= {{obj.options.default}}" ng-change = "setNumber({{ obj.func}} , {{obj.name}})" step='{{ obj.options.step }}' class ='pull-right' >
                             <input type='range' min='{{obj.options.min }}' max='{{obj.options.max}}'  ng-init="setNumber('{{obj.func}}','{{obj.options.default}}') ;{{obj.name}}= {{obj.options.default}}" ng-change = "setNumber({{ obj.func}} , {{obj.name}})" ng-model='{{obj.name }}' step='{{ obj.options.step }}' class ='pull-right'></input>" //name=\""+obj.name+"\"
                         </div>
                     <div ng-switch-when="select">
                         <select class='pull-right' ng-options= "key as key for (key , value) in acessorFns[{{obj.tab}}]|functionFilter:{{obj.datatype}}" ng-change = "view.{{obj.func }}(getAcessorFunction('{{obj.tab }}',{{obj.name}} ))" ng-model= "{{obj.name }}" >";
                         <option value = Reset n> Reset </option>
                         <option value=''>None</option>
                        </select>
                     </div>
                    </div>
                 </div>   -->
             </tab>
             <tab ng-show="layout==='force'" heading="Filters">
                 <div style='padding-bottom: 10px; padding-top: 10px;'><a class='pull-left'>Node Filters</a></div>
                 <br>
                 <filterselect acessorfns="acessorFns" type="'Node'" filterupdate ="view.nodeFilterFunction(_)"  extentfn ="view.nodeAttrExtent(_)" ></filterselect>
                 <div style='padding-bottom: 10px; padding-top: 10px;'><a class='pull-left'>Edge Filters</a></div>
                 <br>
                 <filterselect acessorfns="acessorFns" type="'Edge'" filterupdate ="view.edgeFilterFunction(_)"  extentfn ="view.edgeAttrExtent(_)"  ></filterselect>
            
             </tab>
            </tabset>
            

        </div>
    </div>

    <!--/span-->
    <!--/span-->
</div>
