<div class="modal-dialog">
    <div class="modal-header">
        <h3>Upload graph from MINT Database</h3>
    </div>
    <div class="modal-body">
        <div ng-show="state == 'uploadState'">
            <br/>
            Organism:
            <br/>
            <select ng-model="selectedOrgName" ng-options="obj as obj.name for obj in  availableOrgList|orderBy:'name'">
                <option value="">-- choose organism --</option>
            </select>
            <br/>
            <br/>
         </div>
        <div ng-show="state == 'graphName'">
            <div> <h5>Graph Name</h5>
                <input type="checkbox" ng-model="defaultName" ng-init="defaultName = true"> Default : Filename<br>
                <input  type="text" ng-disabled="defaultName" ng-model="graphName"></div>
        </div>
    </div>
    <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="!(selectedOrgName && uploadButtonEnable)" ng-click="pathwayUpload(selectedOrgName)">Upload Graph</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>